.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main_block {
  display: flex;
  justify-content: space-between;
}
.card_design {
  background-color: lightgreen;
  /* margin: 50px auto; */
  padding: 12px 10px;
  display: block;

  border-radius: 10px;
  box-shadow: 3px 6px 5px #545353;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: sans-serif;
  color: #000;
}
.main_section {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  /* background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%); */
  height: 100vh;
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: white;
}
.input_section {
  padding: 10px;
  border-radius: 10px;
  width: 50%;
  margin-bottom: 50px;
}
.main_button {
  padding: 8px 20px;
  border-radius: 10px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  cursor: pointer;
}
.main_button:hover {
  /* box-shadow: 0px 2px 30px 5px #97b1bf; */

  transform: scale(1.05);
  transition: 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: transform;
}
input:focus {
  background-color: rgb(236, 236, 232);
  border: 2px solid #0ee948;
}
.card_main_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: auto;
}
.btn_block {
  margin-top: 50px;
}
.btn_block button {
  padding: 10px 20px;
  border-radius: 10px;
  margin-left: 10px;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  font-weight: 600;
  border: 1px solid #6e6b6b;
  cursor: pointer;
}
.btn_block button:hover {
  box-shadow: 0px 2px 15px 0px #97b1bf;
}
/* .card_design:hover {
  transform: scale(1.05);
  transition: 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: transform;
  background-color: #6aef6a;
} */
.search_bar {
  display: flex;
}
.search_button {
  border-radius: 5px;
  margin-left: 10px;
  height: 40px;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  cursor: pointer;
}
.fav_btn {
  border-radius: 5px;
  margin-left: 10px;
  height: 40px;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  margin-top: 50px;
  font-size: 20px;
  padding: 10px;
  border: 1px solid #000;
}
.fav_section {
  margin-top: 50px;
}
