.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.main_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input_main_block {
  display: flex;
}
.card_design {
  background-color: lightgreen;
  /* margin: 50px auto; */
  padding: 12px 10px;
  display: block;

  border-radius: 10px;
  box-shadow: 3px 6px 5px #545353;
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 600;
  font-family: sans-serif;
  color: #000;
}
.main_section {
  background: linear-gradient(90deg, #1cb5e0 0%, #000851 100%);
  /* background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%); */
  height: 100vh;
  text-align: center;
  padding: 50px;
  font-size: 18px;
  color: white;
}
.input_section {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: #fff;

  border-radius: 15px;
}
.main_button {
  padding: 8px 20px;
  border-radius: 25px;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  cursor: pointer;
}
.main_button:hover {
  /* box-shadow: 0px 2px 30px 5px #97b1bf; */

  transform: scale(1.05);
  transition: 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: transform;
}
input:focus {
  background-color: rgb(236, 236, 232);
  border: 2px solid #0ee948;
}
.card_main_block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: auto;
}
.btn_block {
  margin-top: 50px;
}
.btn_block button {
  padding: 10px 20px;
  border-radius: 25px;
  margin-left: 10px;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  font-weight: 600;
  border: 1px solid #6e6b6b;
  cursor: pointer;
}
.btn_block button:hover {
  box-shadow: 0px 2px 15px 0px #97b1bf;
}
/* .card_design:hover {
  transform: scale(1.05);
  transition: 0.25s cubic-bezier(0.5, 0, 0.5, 1);
  transition-property: transform;
  background-color: #6aef6a;
} */
.search_bar {
  display: flex;
}
.search_button {
  border-radius: 25px;
  margin-left: 10px;
  height: 40px;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  cursor: pointer;
  width: 60px;
}

.fav_section {
  margin-top: 50px;
}
.favorite_button {
  border-radius: 25px;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  border: 1px solid #000;
}
form.nosubmit {
  border: none;
  padding: 0;
}

input.nosubmit {
  width: 260px;
  border: 1px solid #555;
  display: block;
  padding: 9px 4px 9px 40px;
  background: #fff
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E")
    no-repeat 13px center;
  border-radius: 15px;
}
/* Form Input */
.form_main_block {
  padding: 50px;
}
.form_section {
  display: inline-grid;
}
.form_section label {
  margin-top: 20px;
  margin-bottom: 10px;
}
.form_section button {
  margin-top: 20px;
  padding: 10px;
  border-radius: 15px;
}
.user_list {
  padding: 15px;
}
.btn_align button {
  margin-right: 10px;
}
.error {
  color: red;
}
